<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Role" >
	
	<select id="SelectRoleAll" resultType="Role" parameterType="Map" >
		select * from role r
		where (r.level='1' or r.level='3' or r.level='5'  or r.level='2' or r.level='7' or r.level='8')
		and (r.revo='0' or r.revo='1')
		order by r.createtime desc
		LIMIT #{start}, #{rows}
	</select>
	
	<select id="SelectRoleALL_Count" resultType="java.lang.Integer" parameterType="Map">
		select count(*)
		from role r
		where (r.level='1' or r.level='3' or r.level='5'  or r.level='2' or r.level='7' or r.level='8' )
		and (revo='0' or revo='1')
	</select>

</mapper>